:root {
  /* Variables Générales */
  --noir: #272727;
  --vert: #57dc54;
  --gris: #383838;
  --gris-clair: #686868;
  --blanc: #ffffff;
  --vertnav: #198755;
}

span {
  color: var(--vert);
}

.bg-vert {
  background-color: var(--vert);
}

.bg-gris {
  background-color: var(--gris);
}

.bg-gris-clair {
  background-color: var(--gris-clair);
}

.bg-blanc {
  background-color: var(--blanc);
}

.bg-noir {
  background-color: var(--noir);
}

/* Vue mots de passe */
label {
  position: relative;
}

label input {
  font-size: 1em;
  color: #f9f9f9;
  background: transparent;
  padding: 1rem 1.2rem;
  width: 350px;
  border-radius: 5px;
  border: 2px solid #7a7a7a;
  transition: border-color 0.2s;
}

label input:focus {
  border-color: #ff4754;
}

label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  color: #f9f9f9;
  transition: color 0.2s;
}

label .password-icon:hover {
  cursor: pointer;
  color: #ff4754;
}

label .password-icon .feather-eye-off {
  display: none;
}

/* Style du tiroir latéral */
.menuLateral {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Masqué par défaut */
  background-color: var(--noir);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000; /* Au-dessus du contenu */
}

.menuLateral a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  display: block;
  transition: background-color 0.3s;
}

.menuLateral a:hover {
  background-color: var(--gris-clair);
}

/* masqueFond pour le reste de la page */
.masqueFond {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 900;
  transition: background-color 0.5s ease;
  opacity: 0;
}

.masqueFond.visible {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

/* Titres et Cartes */
.card-title {
  font-weight: bold;
}

.card-text {
  color: #ffa500;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #ffa500;
  margin: 10px 0;
}

.section-title {
  margin-bottom: 40px;
}

.actualites-section {
  padding: 60px 0;
}

.btn-link {
  color: #ffa500;
}

.btn-link:hover {
  text-decoration: underline;
  color: #ff9800;
}

.card-img-top {
  height: 250px; /* Hauteur uniforme */
  object-fit: cover;
  width: 100%;
}

/* Enlève l'espace entre colonnes */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col-md-6 {
  padding: 0;
}

.img-bordered {
  border: 2px solid black;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Titre superposé */
.position-relative {
  position: relative;
}

.image-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

/* Boutons et Vue */
.vue {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--bs-border-radius);
}

/* Mode sombre */
body {
  background-color: var(--gris);
  color: var(--blanc);
}

/* Mode clair */
body.light-theme {
  background-color: #eff3ee;
  color: #000000;
  transition: background-color 0.9s, color 0.9s;
}

.light-theme .bg-dark {
  background-color: #4d4d4d!important;
  color: #000000 !important;
  transition: background-color 0.9s, color 0.9s;
}

.light-theme .bg-success {
  background-color: #181818 !important;
  color: #ffffff;
  transition: background-color 0.9s, color 0.9s;
}

