body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #333;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #575757;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; /* Ensure the footer sticks to the bottom on the left */
}

/* Footer heading enhancements */
footer h5 {
  color: #b4ff00; /* Green color for headings */
  border-left: 2px solid #b4ff00; /* Green vertical line */
  padding-left: 10px;
  margin-bottom: 20px;
}

/* Footer links hover effect */
footer a:hover {
  text-decoration: underline;
}

/* Styling inline footer links */
.list-inline-item a {
  color: #ccc; /* Default color */
}

.list-inline-item a:hover {
  color: white; /* Change color on hover */
}
